body {
  background-color: #f7fad3;
  color: rgb(19, 59, 92);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.red-arrow {
  color: red;
}

.green-arrow {
  color: green;
}
